@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --color-primario: #99dbcc;
    --color-secundario: #e0e8c5;
    --color-terciario: #061d19;
    --color-cuaternario: #737b78;
    --color-quinto: #e5e5e5;

    --fuente-titulos: 'Montserrat', sans-serif;
    --fuente-parrafos: 'Krona One', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-quinto);
}

.header {
    padding: 1% 0 1% 6%;
    background-color: var(--color-terciario);
    padding: 20px;
}

.header-title {
    font-family: var(--fuente-titulos);
    font-size: 50px;
    color: #e0e8c5;
    margin: 20px;
}


